<body>
    <h3>Post an Image</h3>
    <h4>Fill all necssary fields to post your image.</h4>
    </section>
    <form>
        <form id="post-form" class="input-form"
        method="post"
        action= "/posts/create"
        enctype="multipart/form-data">
        <p>Title: <input type="text" required/></p>
        <p class="classTxtBox">
            <label for="Description">Description:</label>
            <textarea id="textBox" rows="7" cols="30"></textarea></p> 
        <p>Image:<input type="file" id="image" required name="image" accept="image/*" multiple></p>
        <p><input type="checkbox" required/> Check this to agree to our TOS and privacy rules</p> 
        <div class="buttons">
            <input type="submit" value= "Post!">
        </div>
    </form>
    <p></p>
</body>
</html>

