<body>
    <h3>Login</h3>
    <h4>Welcome back! please login to your account</h4>
    <form action = "login">
        <form id="reg-form" class="input-form"
        method="POST"
        action= "/users/login"
        enctype="application/x-www-form-urlencoded">
        <div class="buttons">
        <p>Username: <input type="text" required name= "username"/></p>
        <p>Password: <input type="password" required name= "username"/></p>
        <input type="submit" value= "Login">
        </div>
    </form>
    <p>
    </p>
</body>
</html>